body {
  /* background: linear-gradient(rgba(230, 236, 206, 1), rgba(218, 218, 217, 1)); */
  background: rgba(207, 201, 188, 1);
}

.hidden {
  display: none;
}

main {
  display: flex;
    /* font-family: "Kosugi", sans-serif;
    font-weight: 400;
    font-style: normal; */
  font-family: "Phudu", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular 400;
  font-style: normal;  
}

h1 {
  height: 8vh;
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  margin: 0.3em 0.5em;
}

header {
  display: flex;
}

.leftside-trips {
  background: whitesmoke;
  width: 60%;
  height: 155vh;
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(107, 221, 207, 1);
  border-width: 8px;
  margin-left: 3em;
}

.username {
  margin-top: 0px;
  padding-top: 1.75em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  font-size: 2em;
}

.user-trips {
  margin-top: 1.5em;
  margin-left: 1.5em;
  font-size: 1.6em;
}

.sub-header {
  font-size: 1.5em;
  margin-top: 0.4em;
}

.past-trips-grid,
.pending-trips-grid,
.upcoming-trips-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  height: 27vh;
  overflow-y: scroll;
}

.past-trips-grid {
  height: 30vh;
}

h3 {
  margin-left: 0.5em;
}

.trip {
  border-radius: 20px;
  margin: 0px;
  height: 20vh;
  box-shadow: 1px 1px 5px #a5a5a5;
  &:hover {
      border-style: solid;
      border-color: rgba(249, 198, 66, 1); 
      border-width: 4px;
    }
}

.destination-name {
  margin-left: 0px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px black;
  opacity: 0.9;
  width: fit-content;
  padding: 0.25em;
  border-radius: 5px;
}

li{
  margin: 0.5em;
  margin-left: 1.5em;
  width: 8em;
  opacity: 100;
}

.trip-list{
  background: whitesmoke;
  box-shadow: 1px 1px 5px black;
  width:fit-content;
  opacity: 0.95;
  padding: 0.3em;
  border-radius: 15px;
}

.pending-trips{
  background: rgba(227, 235, 176, 1);
  height: 34vh;
  width: 90%;
  padding: 1em;
  margin: 1em;
  margin-left: 2em;
  border-radius: 15px;
  box-shadow: 1px 1px 12px grey;
}

.upcoming-trips {
  background: rgba(211, 200, 147, 1);
  height: 34vh;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 15px;
  box-shadow: 1px 1px 12px grey;
}

.past-trips {
  background: rgba(170, 207, 169, 1);
  height: 38vh;
  width: 90%;
  padding: 1em;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 15px;
  box-shadow: 1px 1px 12px grey;
}

.rightside-trips {
  width: 35%;
  border-radius: 20px;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
}


.trip-expenses {
  background: whitesmoke;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color:rgba(220, 255, 78, 1);
  height: 40vh;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
}

.expenses-header {
  background-color: rgba(212, 189, 129, 1);
  border-radius: 10px;
  font-size: 2em;
  width: fit-content;
  margin: 1em 0.5em;
  padding: 0.5em;
  box-shadow: 1px 1px 10px purple;
}

.expenses-table {
  margin-left: 2em;
  text-align: left;
  background-color: (220, 255, 78, 1);
}

.column-header{
  font-size: 1.5em;
  width: 5em;
}

th {
  font-size: 1.3em;
}

tr:hover {
  background-color: rgb(237, 225, 192);
}

caption {
  caption-side: bottom;
  text-align: left;
}

.request-trips {
  background: whitesmoke;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  border-color:rgba(249, 198, 66, 1);
  margin-right: 2em;
  margin-top: 3em;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.request {
  font-size: 2em;
  background-color: rgba(212, 189, 129, 1);
  border-radius: 10px;
  font-size: 2em;
  width: fit-content;
  margin: 1em 0.75em;
  padding: 0.35em;
  box-shadow: 1px 1px 10px purple;
}

.request-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 70%;
  margin-left: 2em;
  font-size: 1.25em;
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: rgb(112, 206, 183);
  box-shadow: 1px 1px 20px greenyellow;
  padding: 0.8em;
}

label {
  margin-bottom: 5px;
  margin-top: 10px;
}

input {
  height: 1.5em;
  font-size: 0.9em;
    &:hover {
      cursor: pointer;
      border-color: orange;
    }
}

select {
  height: 2em;
  font-size: 0.9em;
    &:hover {
      cursor: pointer;
      border-color: orange;
    }
}

.request-error {
  font-size: 1.2em;
  color: red;
  margin-top: 0.25em;
}

.request-trip-button {
  width: 35%;
  border-radius: 15px;
  height: 2.5em;
  align-self: center;
  margin-top: 1em;
  font-family: "Phudu", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border-color: rgba(107, 221, 207, 1);
  border-width: 4px;
    &:hover {
      background-color: rgb(221, 235, 164);
      cursor: pointer;
    }
}

.cost-est {
  list-style-type: none;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0em;
  margin-left: 1em;
  margin-top: 0.4em;
}

.trip-request-table {
  text-align: left;
  margin-left: 2em;
  width: 95%;
}

.projected-expenses {
  width: 82%;
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(64, 183, 183);
  border-radius: 15px;
  margin: 2em;
  padding-bottom: 1.25em;
}
